<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".DemoRideActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" />
    </application>
</manifest>
